{% extends "base.html" %}

{% block title %}
    FlashCard App - Sign In
{% endblock %}

{% block content %}
    <div class="form-container">
        <h1>Flashcard App</h1>
        <h2>Sign In</h2>

        <form action = "/auth/authoriseuser" method="POST">
            <div>
                <label for="username">Username:</label>
                <input name="username" id="username" type="text" required minlength="3" maxlength="20" />
            </div>

            <div>
                <label for="password">Password:</label>
                <input name="password" id="password" type="password" required minlength="8" />
            </div>

            <div>
                <input type="submit" value="Sign In" />
            </div>
        </form>
        <br/>
        <p>Dont have an account? <a href = "/signup">click here to sign up</a></p>
    </div>
{% endblock %}

